<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h2>Sinatra doesn&rsquo;t know this ditty.</h2>
    <img src='http://example.org/__sinatra__/404.png'>
  </body>
</html>
