<!DOCTYPE html>
<html>
  <head>
    <title>Pig Latin</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>
      Here's your phrase:
    </h2>
    <p>
    <%=@user_input%>
    </p>
    <h2>
      Here's your phrase in pig latin:
    </h2>
    <p>
    <%=@pig_latin%>
    </p>
  </body>
</html>
