<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <h2>Here is your pig latin: <%= @analyzed_text.count_of_words %> OR SOMETHING LIKE: <%= @analyzed_text.most_used_letter.keys[0].capitalize %>, used <%= @analyzed_text.most_used_letter.values[0] %> times</h2>

     
    
  </body>
</html>