<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Piglatinizer Results!</h1>
      <br>
    <p><%= @piglatin %></p>
    <br>
    <p>Now live long and piglatinize!</p>
  </body>
</html>