<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PigLatinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form method="post" action="/piglatinize">
      <p><label for="user_phrase">Input the text you want to have translated to pig latin here.<br>Enter your phrase:</label></p>

      <textarea input type="text" name="user_phrase"></textarea>

      <button type="submit" value="submit">Translate</button>

    </form>
  </body>
</html>