<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Piglatinizer!</title>
  </head>
  <body>
    <form class="" action="/piglatinize" method="POST">
      <p>Pig Latinizer!</p>
      Enter your phrase: <textarea name="user_phrase"> </textarea>
      <button type="submit" name="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
