<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pig Latinizer!</title>
</head>
<body>
<h1>Pig Latinizer</h1>

<h3>Your phrase has been piglatinized:</h3>

<p><%=@piglatinized_phrase%></p>
</body>
</html>