<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Latinized Text</title>
  </head>
  <body>
    <h1>Your latinized text</h1>

      <p> <%= @latinized_text %> </p>


  </body>
</html>
