<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Your Text in Pig Latin:</h2>
    <h2><%= "#{@pig_phrase}" %></h2>

  </body>
</html>
