<!doctype html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  
  <body>
    
    <h1>Pig Latinizer</h1>
    
    <div class="container">
      <%= yield %>
    </div>
  
  </body>
  
</html>