<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <div style="margin:2em auto; text-align:center;">
      <h1>Pig Latinizer!</h1>

      <%= yield %>
    </div>
  </body>
</html>
