<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
    
    <!--style-->
    <style>
      body {text-align: center;margin: 0;}
      
      html {background: url(http://getwallpapers.com/wallpaper/full/c/0/3/1004855-pig-wallpaper-1920x1080-for-samsung-galaxy.jpg) no-repeat center center fixed;background-size: cover;height: 100%;overflow: hidden;}
      
      
      h1 {;font-size: 5em;text-shadow: 0 0 50px #4BC6E2;margin-bottom: 0;}
      
      p, a {;font-family: Georgia, serif;font-size: 33px;font-style: italic;font-weight: normal;color: white;background-color: rgba(27, 23, 23, 0.92);padding: 18px; margin-right: -4px;margin-bottom: 0;}
      
      form {display: inline-block;}
      .button {margin: 20px;color: white;background: rgba(27, 23, 23, 0.92);padding: 20px 40px;}
      
      #answer {position: relative;top: 609px;}
    </style>
    <!--style-->
    
  </head>
  <body>
    <p id="sinatra">Pig Latinizer!</p>
<!---------------------------------------------------------------------------------------->    
    <%= yield %>
<!---------------------------------------------------------------------------------------->    
  </body>
</html>