<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PigLatinizer</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
