<!--<h1>Output!</h1>

<%# @piglatin_text.each do |word| %>
<h2><%#= word %></h2>
<%#end%>-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  <%= @piglatin_text %>
  </body>
</html>


