<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
<<<<<<< HEAD
    <!--<p><%=@user_phrase.converter%></p>-->
=======
    <p><%=@user_phrase.converter%></p>
    </form>
>>>>>>> 5b3280209b9805847102a173d2fe170f84f580df
  </body>
</html>
