<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h2>This is your sentence rendered</h2>

    <p><%= @result %></p>

  </body>
</html>
