<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Pig Latinizer </title>
  </head>
  <body>
    <h1> Pig Latinizer! : </h1>

    <p> Phrase: <%= @phrase %></p>

    <p> Pig Latinized Phrase: <%= @pig_latin.to_pig_latin(@phrase) %></p>

  </body>
</html>
