<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h3>Here's your pig latin phrase:</h3>
    <p><%= @latinized_phrase.to_pig_latin %></p>
  </body>
</html>
