<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig-Latinized result</title>
  </head>
  <body>
    <h1>Pig-Latinized Result</h1>

    <h2><%= @pig_latin %></h2>

  </body>
</html>
