<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize">
      <p>Your Pig Latinized phrase is:</p>
      <p><%= @piglatinized_phrase.piglatinize(params[:user_phrase]) %></p>
    </form>
  </body>
</html>
