<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latin Output</title>
  </head>
  <body>
    <h1>Pig Latin Output</h1>
    <p><%= @pig_latin_obj.piglatin %></p>
  </body>
</html>
