<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Piglatinize</title>
</head>
<body>
  if <%@text_from_user.gsub(' ',", ").split.count > 1%>
  <h2><%=@piglatinize_word%></h2>
  <%=else%>
  <h2><%=@piglatinize_words%></h2>

</body>
</html>
