<!DOCTYPE html>
<html>
<body>
  <% if params[:user_phrase].include?(" ") %>
  <p><%= @phrase.to_pig_latin(params[:user_phrase]) %></p>
    <% else %>
  <p><%= @phrase.piglatinize(params[:user_phrase]) %></p>
    <% end %>
</body>
</html>
