<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h2><%= @latin.to_pig_latin(params[:user_phrase]) %></h2>
  </body>
</html>
