<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
	<p><%=@pig.to_pig_latin(@pig.text)%></p>
  </body>
</html>