<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1> Your phrase in Pig Latin is: </h1>
    <h2> <%= @piglatin %> </h2>
  </body>
</html>
