<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Here's the pig latin version:</h1>
    <h2> <%=@target_text.piglatinize%> <h2>
  </body>
