          <div class="inner cover">
            <h1 class="cover-heading">Pig Latinizer</h1>
            <p class="lead">
              <%= "#{@phrase.to_pig_latin(params[:user_phrase])}" %>
            </p>
          </div>
