<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>results</title>
  </head>
  <body>
    <h1>Here is your pig latin phrase!</h1>
    <h2><%= @final_phrase %></h2>
  </body>
</html>