<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your Pig Latin!</title>
  </head>
  <body>
    <h1>Your Pig Latin!</h1>

    <p><%= @pl.to_pig_latin(@words) %></p>

  </body>
</html>
