<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <p>Your Pig-Latinized Phrase is:</p>
    <p><%= @piglatinized_phrase %></p>
  </body>
</html>
