<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinized</title>
  </head>
  <body>
    <h1>Presentation of the Pig Latinization!</h1>
    <h2><%= @pig_latin_string %></h2>
  </body>
</html>
