<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Converted Text</h1>

    <h2>Analyzed Text = <%= @converted_text.show_text %></h2>

    <h2>Converted Text: <%= @converted_text.piglatinize(@converted_text.show_text) %></h2>
</body>
</html>
