<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h2>Ta da!:</h2>
    
    <h4> <%= @piglatinizer.piglatinize(@text) %> </h4>
    
  </body>
</html>