<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Your Pig Latinized Phrase:</h1>
      <h2><%=@piglatinized_text%></h2>
  </body>
</html>
