<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <% converter = PigLatinizer.new %>
    <h1><%= converter.to_pig_latin(@user_phrase) %></h1>

  </body>
</html>
