<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Your Text Pig Latinized</h1>
    <h2><%= @piglatinizer.piglatinize(@text) %></h2>
  
  </body>
</html>
