<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Phrase Piglatinized</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2> <%= @latinizer.to_pig_latin(@words) %></h2>
  </body>
</html>
