<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Your text has been turned into Pig Latin:</h2>
    <p><%= @latin_text %></p>
  </body>
</html>
