<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Phrase Translation</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
		<h2>Your phrase translatess to:</h2>
		<p><%= "#{@translated_phrase}" %></p> 
  </body>
</html>
