<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <%words = PigLatinizer.new%>
    <p><%=words.to_pig_latin(params[:user_phrase])%></p>

  </body>
</html>
