<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Translation</title>
</head>
<body>
  <p>Your phrase has been Pig Latenized!</p>
  <p> <%= @text %> </p>
  
</body>
</html>