<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Your Pig Latin Phrase</h1>
          <!-- <% @phrase = PigLatinizer.new(@analyzed_text).piglatinize %> -->
          <% @phrase = PigLatinizer.new(@analyzed_text)  %>
    <p> <%= @phrase.piglatinize %> </p>
  </body>
</html>
