<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Igpay Atinizerlay</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Here is your phrase in pig latin:</h2>
    <!-- phrase goes here -->
    <p>
      <%= @pl_phrase %>
    </p>
  </body>
</html>
