<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Your Piglatinized Text!</h1>
    <h2><%= @pl_text.piglatinize(@user_phrase) %></h2>
  
  </body>
</html>