<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <!-- Return the instance variable with evaluation -->
    <h2> <%= @piglatinize %> </h2>
    </form>
  </body>
</html>
