<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PigLatin!</title>
  </head>
  <body>
    <h1>Your Sentence in PigLatin!</h1>
  
    <p><%= @piglatinizer.to_pig_latin(@user_phrase) %></p>
  </body>
</html>