<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Your original sentence:</h2>
    <p><%= @sentence_before_piglatinize %></p><br>

    <h2>Your new sentence... Piglatinized:</h2>
    <p><%= @sentence_after_piglatinize %></p>
  </body>
</html>
