<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Your word <i>Piglatinized</i>: <%= @words.to_pig_latin(params[:user_phrase]) %></h1>
  </body>
</html>
