<!DOCTYPE html>

<html>
  <head>
    <title>Result Page</title>
  </head>

  <body>
    <h1>Your Phrase In Pig Latin:</h1>
    <br>
    <p><%=@pig_latinizer.to_pig_latin(@user_phrase)%></p>
 </body>

</html>
