<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>-------------</h2>
    binding.pry
    <p><%= @pig_latinized_string.to_pig_latin(params[:user_phrase]) %></p>
  </body>
</html>
