<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
       <p>Your translated phrase:</p>
       <p><% @user_phrase %></p>
       <button type="submit" value="Submit">Submit</button>
    </form>
  </body>
</html>
