<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h2><%= @pig_text %></h2>
    <form action="/">
      <button type="submit" >Again!</button>
    </form>
  </body>
</html>
