<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h3> Your text piglatinized:</h3>
    <p> <%= PigLatinizer.new.to_pig_latin(@user_phrase) %> </p>



  </body>
</html>
