<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Your Piglatinized Phrase!</title>
  </head>
  <body>
    <h1>Your Piglatinized Phrase!</h1>

    <h2> <%= @piglatinized %> </h2>
  </body>
</html>
