<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Latin Up! The piggy kind</title>
  </head>
  <body>
    <h1>Here's your phrase!</h1>
    <p><%= @user_phrase.piglatin_from_variable %></p>



  </body>
</html>