<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>piged</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Your text, in Pig Latin:</h2>
    <p><%= @latinized.piglatinize(params[:user_phrase]) %></p>

  
  </body>
</html>
