<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Here is your original input:</h2>
    <h2><%=@original_input%></h2>
    <h2>Here is your input after being Pig Latinized!</h2>
    <h2><%=@pl%></h2>



    </form>
  </body>
</html>
