<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Phrase pig latinized!</title>
  </head>
  <body>
    <h1>This is your phrase translated to pig latin!</h1>
    <h1><%= @test.piglatinize %></h1>

  </body>
</html>
