<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>You've been Pig Latinized!</title>
  </head>
  <body>
    <h1>...Latinized!</h1>

    <p>In Pig Latin you say, <%= "#{@piggify}" %>! </p>

  </body>
</html>
