<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
    <style media="screen">
      body {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2><%= @pig_latinizer.to_pig_latin(@user_phrase) %></h2>

    <a href="/">Try again</a>
  </body>
</html>
