<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1> -->

    <h2>Your Pig Latinized Text</h2>

    <p><%= @piggy_phrase.to_pig_latin(params[:user_phrase]) %></p>
  <!-- </body>
</html> -->
