<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Translation!</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <p><%=@translated.to_pig_latin(@str)%></p>
  </body>
</html>
