<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latin Translation</title>
  </head>
  <body>
    <h1>Pig Latin Translation</h1>

    <%= @pig_latinized %>

  </body>
</html>
