<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Pig Latinizer!</title>
    </head>
    <body>
        <h1>Your phrase got pig latinized!</h1>
        <h2><%= @piglatinized %></h2>
    </body>
</html>
