<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h2>Pig-Latined Text:</h2><br>
    <%=@new_text%>
  </body>
</html>
