<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <button><a href="/">Back</a></button>
    <h1>Pig Latinizer</h1>

    <h3>Latinized results</h3>
    <p><%= @latin %></p>
  </body>
</html>