<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h2>Your Pig Latinized Text: </h2>
    <p>
      <%=@latinized_text.to_pig_latin(@latinized_text.text)%>
    </p>
  </body>
</html>
