<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Here is Your Igpay Atinizedlay Asephray:</h1>
    
    <h2><%= @pig_latinizer.piglatinize(@user_phrase) %></h2>
    
    <h3>(Adatay!)</h3>
  </body>
</html>