<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Here is your cancer, I mean Pig Latinized text.</title>
</head>
<body>
    <p><%=@piglatinizer.piglatinize(@text_to_convert)%></p>
</body>
</html>