<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
		<h3>Here is the converted text:</h3>
		<p><%= @converted_user_phrase %></p>
  </body>
</html>