<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer - Result</title>
  </head>
  <body>
    <h1>Pig Latinizer - Result</h1>
    <% pig_latinizer = PigLatinizer.new%>
    <p><%=pig_latinizer.to_pig_latin(@user_phrase)%></p>

  </body>
</html>
