<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>

    <h1>Your text in Pig Latin:</h1>
    <p><%= @pig_latin.to_pig_latin(params[:user_phrase]) %>
        </p>

  </body>
</html>
