<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Piglatin!</title>
  </head>
  <style>
  body {background-color: white;}
  h1   {color: white;}
  p    {color: white;}
  </style>
  <body>
  <%= @piglatin %>
  </body>
</html>
