<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pig Latinizer Results</title>
  </head>
  <body>
    <h2>Your Piglatinized Phrase</h2>
    <p><%= @result%></p>
  </body>
</html>
