<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Pig Latinizer</title>
 </head>
 <body>
    <h1>Pig Latinized!</h1>
<p><%= @piglatinized_phrase.to_pig_latin(params[:user_phrase]) %></p>

 </body>
</html>
