<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Your Pig Latin Phrase</h1>
    <h2><%= @phrase.piglatinize(words) %></h2>
  </body>
</html>