<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PigLatinizer<title>
  </head>
  <body>
    <h1> Pig Latinzer! </h1>
    <h2>Here is your phrase in Pig Latin!</h2>
    <p><%=@piglatin%></p>
  </body>
</html>
