<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>

  <body>
    <h1>Pig Latinizer</h1>
    <!-- *****************  Need to figure out the method in Piglatinize class  -->
    <p><%= @piglatinizered_text%></p>
    <!-- ***************** -->



  </body>
</html>
