<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
       <p>Your translated phrase:</p>
       <% pigs = PigLatinizer.new %>
    <h2><%= pigs.to_pig_latin(@piglatized_text) %></h2>
  </body>
</html>
