<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Here is your piglatinized phrase:</h2>
    <h3><%=@user_input.to_pig_latin(params[:user_phrase]) %></h3>
  </body>
</html>
