<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Your phrase PigLatinized: </h1>
    <% pigs = PigLatinizer.new %>
    <h2><%= pigs.to_pig_latin(@piglatized_text) %></h2>
  </body>
</html>
