<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Results</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <p>Your Pig-Latinized Prase is:</p>
    <p><%=@pigged%></p>


  </body>
</html>
