<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h3>Here's your Pig Latinized string</h3>
    <p><%= @piglatinized.to_pig_latin(@user_phrase) %></p>
  
  </body>
</html>