
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your Pig Latinized Words
    </title>
  </head>
    <body>
      <h1>Your Pig Latinized Words </h1>

      <%= @piglatin %>
    </body>
</html>

