<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h2>Here's your phrase- piglatinized!</h2>
    <p><%= @piglatinized %></p>
  </body>
</html>
