<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1><br>
    <h3>Your Phrase:</h3><br>
    
    <p> <%= @piglatinized_text %>
     
    </p>
    
  
  </body>
</html>