<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body> -->
  <%="#{@piglatin}"%>
  <!-- </body>
</html> -->

eHay asway anway oldway anmay owhay ishedfay aloneway inway away iffskay inway ethay ulfGay treamSay andway ehay adhay onegay eightyway ourfay aysday ownay ithoutway akingtay away ishfay

eHay asway anway oldway anmay owhay ishedfay aloneway inway away iffskay inway ethay ulfGay eamStray andway ehay adhay onegay eightyway ourfay aysday ownay ithoutway akingtay away ishfay
