<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="post" action="/">
      <p>Input the text you want translated here:</p>
      <textarea name="user_text"></textarea>
      <br>
      <input type="submit" value="submit">
    </form>

  </body>
</html>
