<!-- <h1>Your New Word in Pig Latin</h1>

<h2>String: <%=@analyzed_word%></h2> -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>

  <body>

    <%= @ptext>

  </body>

</html>
