<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <% words = PigLatinizer.new %>
      <p><%= words.piglatinize(@text) %></p>
  </body>
</html>
