<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Results</title>
  </head>
  <body>
    <h1>Your Phrase PigLatinized: </h1>
    <h2><%= @pig_latin_phrase  %></h2>
  </body>
</html>
