<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
   <title>title</title>
  </head>
  <body>

   <title>Your words piggified!</title>
  </head>
  <body>
    <h1>New Pig Latin Words</h1>
    <h2> <%= @results.to_s %> </h2>
  
 
  </body>
</html>