<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>
    <h1>These are your Pig Latin words!</h1>
    <img src="https://images-na.ssl-images-amazon.com/images/I/61q9XfIJa5L._AC_SX522_.jpg">

    <h2><%=@user_phrase%></h2>

  </body>
</html>
