<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <h2>Your Piglatinized phrase is:</h2>
      <h3><%=@piglatinized_text%></h3>
  
  </body>
</html>