<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>igpay Atinizerlay</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <p>Erehay isay ouryay asephray</p>

    <p> <%= @piglatin %></p>
    
  </body>
</html>