<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latin</title>
  </head>
  <body>
    <h1>Pig Latin Version of Your Text</h1>
    <br />
    <p> <%= @pig_words %> </p>  



  
  </body>
</html>