<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinized</h1>
<<<<<<< HEAD
    <% #binding.pry %>
    <%= @latinized_phrase %>
=======
    <%= @latinized_phrase.piglatinize %>
>>>>>>> e87caaa4a4cb922acd3f271edf7eba56fec317b0



  </body>
</html>
