<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pig Latinized</title>
  </head>
  <body>
    <h1>Pig Latinized!</h1>
    <h2>Your Pig Latinized phrase is: <%=@mod_phrase%></h2>

  </body>
</html>
