<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h2>"<%= params[:user_phrase]%>" in pig latin is:</h2>
    <h1><%= @piglatinized_text%></h1>
  </body>
</html>
