<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
      <p>Here is your phrase in Pig Latin:</p>
      <p><%= @pig_latin.translate %>
  </body>
</html>
