<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pig Latinized Phrase!</title>
  </head>
  <body>
    <h1>Your Pig Latinized Phrase:</h1>
    <p><%= @analyzed_text.to_pig_latin(@text) %></p>
  </body>
</html>
