<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Piglatin!</title>
  </head>
  <style>

  body   {color: Purple;
        font: 45px arial, sans-serif;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 250px 100px; 
        background-image: url("http://maxpixel.freegreatpicture.com/static/photo/1x/Funny-Pink-Cute-Pig-Head-Face-Animal-Mammal-161381.png")}
  p    {color: white;
        font: 45px arial, sans-serif;}
  </style>
  <body>
    Pig Latin :
  <%= @piglatin %>

  </body>
</html>
