<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PigLatinizer - Your Results</title>
    <style>body {background: aqua;width: 85%; margin: 0 auto;}textarea {width: 400px; height:100px;}</style>
  </head>
  <body>
    <h1>Pig Latinizer - Your Results</h1>
    <p><%= @results %></p>
  
  </body>
</html>