<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h2>Pig Latin: <%="#{@piglatinizer_instance.to_pig_latin(@user_phrase)}"%> </h2>
  </body>
</html>
