<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>results</title>
  </head>
  <body>
    <h1>In Pig Latin You Said: <%=@text_to_piglatin.piglatinize(params[:user_phrase]) %></h1>

  </body>
</html>
