<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Piglatize</title>
  </head>
  <body>
    <h1>Your Piglatinized Words!</h1>
    <%= @piglatin %>
  </body>
</html>
