<!DOCTYPE html>
<html>
  <head>

  <body>
    <h1>piglatinize: <%= @translated %></h1>

  </body>
</html>
" to include "eHay asway anway oldway anmay owhay ishedfay alonew
ay inway away iffskay inway ethay ulfGay eamStray andway ehay adhay one
gay eightyway ourfay aysday ownay ithoutway akingtay away ishfay"
