<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Results</title>
  </head>
  <body>
    <h1>Pig Latinizer Results</h1>
    <p>Resulting text is: </p>
    <p><%=@latinized_text.piglatinize(params[:user_phrase]) %>
  </body>
</html>
