<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PigLatinizer</title>
  </head>
  <body>
    <h1>Your translated text!</h1>
    <form>
      <textarea><%="#{@user_phrase.piglatinize}"%></textarea>
    </form>
  </body>
</html>