<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latin</h1>
  
    <form method="post" action='/'>
      <h1>Here's your piglatinized phrase:</h1>
      <h2><%= @pig_latin %></h2>
    </form>
  </body>
</html>