<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <h3>Hopefully this will show pig latin:</h3>

    <p>
      <%= @latin_text %>
    </p>

  </body>
</html>