<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h3>English: <%=  %></h3>
    <h3>Pig Latin: <%=  %></h3>
  </body>
</html>
