<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize">
      <label for="user_phrase">Enter your phrase:</label>
      <input name="user_phrase" type="text">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>