<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/" method="POST">
      <p>Enter your phrase: <input type="textarea" name="user_phrase"></input></p>
      <input type="submit">Submit</input>
    </form>

  </body>
</html>
