<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method = "post" action ="/piglatinize" id="pig_latin">
      <input type = "text" id="user_phrase" value="Enter your phrase:">
      <button type = "submit">Submit</button>
    </form>
  </body>
</html>