<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <form action="/" method="POST">
      <p>Input user text: <input type="text" name="input" value="enter text here"></p>
      <input type="submit" value="Submit">
    </form>



  </body>
</html>
