<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <p>Just type anything you please, and I will magically convert it to Pig Latin! Oink Oink</p>
    <p>Enter your phrase:</p>
    <form class="" action="/piglatinize" method="post">
      <textarea name="user_phrase"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
