<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>
    <h1>Welcome to Pig Latinizer!</h1>
    <img src="https://images-na.ssl-images-amazon.com/images/I/61q9XfIJa5L._AC_SX522_.jpg">

    <form method="POST" action="/piglatinize">
      <p>Enter your phrase:</p>
      <input type="text" name="user_phrase">
      <input type="submit">
    </form>
  </body>
</html>
