<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form method="POST" action="/piglatinize">
      <h2> Welcome to the most great, amazing piglatinizing web app!</h2>
      <p>(I know, because I know about many amazing apps, including piglatinizing apps, and web apps, all the sort)</p>
      <p>Enter your phrase:</p>
      <textarea name="user_phrase"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>
