<html>
  <head>
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/piglatinize" method="post">
      <p><label for="phrase">Enter your phrase:</label>
        <input type="text" id="phrase" name="user_phrase">
      </p>
      <input type="submit" name="submit">
    </form>
  </body>
</html>
