<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Translate from English to Pig Latin using the Pig Latinizer!</h1>
  
    <form method="POST" action="/translation">
      <label for="user_phrase">Enter your phrase:</label><br><br>
      <textarea name="user_phrase" rows="5" cols="40"></textarea><br><br>
      <input type="submit" value="Submit" id="Submit">
    </form>

  </body>
</html>