<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latin!</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form methods="POST" action="/piglatinize">
      <label for="phrase"> Write a phrase:</label>
      <input type="text" id="phrase" name="user_input">
      <input type="submit"

  </body>
</html>
