<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form action="/piglatinize" method="post">
      <p> <label for="user_phrase">Enter your phrase:</label></p>
        <p><input type="text" name="user_phrase" id="user_phrase"> </p>
      <p>  <input type="submit" value="Submit"> </p>

      </form>

    </form>

  </body>
</html>
