<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="POST">
      <p><input type="textarea" name="user_input"></p>
    </form>
  </body>
</html>
