

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer! </h1>
      <form action="piglatinize" method="post">
        <h2>  Enter your phrase: <input type="text" name="word"> <h2>
           <input type="submit" name="user_phrase">
      </form>
  </body>
</html>
