<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    
    <form>
      <label for="user_phrase">Enter your phrase:</label>
      <p><textarea id="user_phrase" name="user_phrase"></textarea></p>
      <!-- Note: While inputs don't need an end tag, textareas DO! -->
      
      <!-- <button type="submit" value="submit">Submit</button> <!-- (Either one works.) -->
      <input type="submit" id="submit">
    </form>
  </body>
</html>