<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <form method="post" action="/piglatinize">
    <h1>Pig Latinizer!</h1>
    <h3>Enter a word or phrase and then hit "submit" to see it translated to Pig Latin!</h3>

    Enter your phrase: <input type="text" name="user_phrase"><br>

    <br>
    <button type="submit" value="submit">Submit</button>
  </form>

  </body>
</html>
