<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Transform your text into Pig Latin</h2>

    <form action="/piglatinize" method="POST">
    <p><label>Enter your phrase:</label></p>
    <p><textarea name="user_phrase" cols="40" rows="5"></textarea></p>
    <p><input type="submit" id="submit"></p>
    </form>
  
  </body>
</html>