<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <br>
    <form method="POST" action="/piglatinize">
      <p>Enter your phrase: <input type="text" name="user_phrase"></p>
      <br>
      <input type="submit" name="submit" value="submit" id="submit">
    </form>


  </body>
</html>
