<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latin App</title>
  </head>
  <body>

    <h1>Pig Latinizer!</h1>

    <form action="/piglatinize" method="post">
      <p>Utpay oryay Igpay Atinlay erehyay: <input type="text" name="user_phrase"> </p>
      <input type="submit">
    </form>

  </body>
</html>
