<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form method="POST" action="/piglatinize">
      <p>Enter your phrase: <textarea type="text" name="user_phrase"> </textarea></p>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>
