<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form method="POST" action="/piglatinize">
      <p>Enter your text: <input type="text" name = "input"></p>
      <button name="submit" type="submit" value="submit">Submit</button>
   </form>



  </body>
</html>
