<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
<<<<<<< HEAD
      <form method="POST" action="/piglatinize">
=======
      <form method="POST" action="/piglatinize"
>>>>>>> 5b3280209b9805847102a173d2fe170f84f580df
      <p>Enter your phrase:
      <input type="text" name="user_phrase"></p>
      <input type="submit">
    </form>
  </body>
</html>
