<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Pig Latinizer </title>
  </head>
  <body>
    <h1> Pig Latinizer! </h1>

    <p> Enter your phrase: </p>
    <form action="/piglatinize" method="POST">
      <textarea type="text" name="user_phrase"></textarea>
      <p></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
