<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize">
      <p>Enter your phrase:</p>
      <br>
      <textarea name="user_phrase"></textarea>
      <br>
      <button type="submit" id="submit">submit</button>
    </form>

  </body>
</html>
