
<h1>Pig Latinizer!</h1>
<h2>Enter your phrase: </h2>
<form method="post" action="/piglatinize">
  <textarea name="user_phrase"></textarea>
</br>
  <input type="submit" id="submit" name="submit">
</form>
