<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h1> -Enter your phrase:</h1>
    <h1>  "Onceway uponway away imetay and
     way away eryvay oodgay imetay itway asway erethay asway away oocowmay...sway omingcay
      own day alongway ethay oadray etmay away icenay ittlelay oybay amednay abybay uckootay" </h1>

# post is the mailman...
    <form method="POST" action="/" >
        <h1>PigLatinizer <input type="text" name="user_phrase"></h1>
        <button type="submit"> Submit</button>
    </form>

  </body>
</html>
