<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

    <form action="/piglatinize" method="POST">

      <h1>Pig Latinizer</h1>
      <p>Enter your phrase:</p>

      <textarea name="user_phrase"></textarea>
      <br>
      <button type="submit" value="submit"></button>

    </form>

  </body>
</html>
