<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
      <form method="POST" action="/translated_phrase" id="form">
        <p>Phrase To Translate: <input type="text" name="phrase"></p>

        <input type="submit" id="Submit"/>
      </form>
  </body>
</html>
