<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PigLatinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!r</h1>
    <h3>Enter your phrase:</h3>
    <form action="/piglatinize" method="post">
      <p>Phrase: <input type="text" name="user_phrase"></p>
      <input type="submit" name="submit">
    </form>
  </body>
</html>
