<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method = "POST" action= "/piglatinize"> #just made this change from "user_input"
  <p>Enter your phrase: <input type="text" name="user_phrase"></p>
  <input type="submit" id="submit" name ="submit">
</form>
  </body>
</html>
