<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize">
      <label for="user_phrase">Enter your phrase:</label>
      <input name="user_phrase", id="user_phrase" type="text" />
      <input type="submit" />
    </form>
  </body>
</html>
