<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Enter your phrase:</h1>
      <form method="POST" action="/piglatinize">
        <textarea name="user_phrase"></textarea><br>
        <input type="submit">
      </form>
  </body>
</html>