<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h3>Enter your phrase:</h3>
    <form method="post" action="piglatinize">
      <input type="text" name="user_phrase" placholder="Say something!">
      <input type="submit" value="PigLatinize">
    </form>
  
  </body>
</html>