<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Enter your text and see it magically Pig Latinize itself!</h2>
    <h3>(Just kidding, it's not magic.)
    <form method="POST" action="/piglatinize">
      <p>Enter your phrase:<input type="text" name="user_phrase"></p>
      <input type="submit" value="submit" id="submit">
    </form>

  </body>
</html>
