<h2>Enter your phrase:</h2>

<form method="post" action="/piglatinize">
  <p><label for="input_box">Input the text you want to Pig Latinize here: </p>
    <textarea name="user_phrase" id="input_box"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
