<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form method="post" action="/piglatinize">
      <h3>Enter your phrase:</h3>
      <br>
      <textarea name="user_phrase"> </textarea><br>
      <input type="submit" value="submit">
    </form> 
  
  </body>
</html>