
    <h1>Pig Latinizer!</h1>

    <form  action="/piglatinize" method="post">
      <label for="textarea"><p>Enter your phrase:</p></label>
      <textarea rows="4" cols="50"
      placeholder="Enter Any Text To Convert!"  name="user_phrase" id="textarea"
      ></textarea>
      <br>
      <input type="submit" name="submit" value="submit">
    </form>
