<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>


    <form action="/user_input_submit" method="POST" >
    	<label for="user_input">Enter a word to change into Pig Latin:</label>
    	<textarea type="text" name="user_input" value="type your word here"></textarea>
    	<br>
    	<button type="submit" value="submit">Submit</button>
    </form>
  
  </body>
</html>