<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form GET="/piglatinize">
    	<p>Enter your phrase:<textarea name="user_phrase"></textarea></p>
  		
  		<input type="submit" value="submit">
    </form>
  
  </body>
</html>