<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <h3>Welcome to Pig Latinizer!</h3>

    <h5>Enter your phrase:</h5>
    <form  action="/piglatinize" method="post">
      <input type="text" name="user_phrase">
      <input type="submit" name="sumbit">
    </form>

  </body>
</html>
