<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="GET" action="/">
      <h2>Enter your phrase:</h2>
     <p>user_phrase<input type="text" name="string"></p>
    </form>
  </body>
</html>
