<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>

    <form action="/piglatinize" method="post">
      <h2>Enter your phrase:</h2>
      <textarea name="user_phrase" rows="8" cols="80"></textarea>
      <input type="submit" id="Submit">
    </form>

  </body>
</html>
