<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/piglatinize" method="POST">
      <h2>Enter your phrase:<input type='text' name='user_phrase' id="phrase"></h2>
      <input type='submit' id="Submit">
    </form>
  </body>
</html>
