<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h3>Enter your phrase: user_phrase:</h3>
    <form method="post" action="/piglatinize">
      <input type="text" name="user_phrase">
      <input type="submit">
    </form>
  </body>
</html>
