<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="POST" action="/piglatinize">
      <p>Enter the text you'd like translated to Pig Latin:</p>
      <input type="text" name="user_text">
      <input type="submit" name="Submit">
    </form>
  </body>
</html>
