<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
		<h3>Enter your phrase:</h3>
		<form action="/piglatinize" method="POST">
  		<textarea name="user_phrase"></textarea>
			<input type="submit" value="Convert" id="submit">
		</form>
  </body>
</html>