<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="post" action="/piglatinize">
      <p>Input the text you want to get Pig Latinized:</p>
      <p>Enter your phrase:</p>
      <textarea name="user_phrase" id="" cols="30" rows="10"></textarea>
      <input type="submit" id="submit">
    </form>
  </body>
</html>