<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <p>Enter your phrase:</p>
    <form method="POST" action="/piglatinize">
      <p><textarea rows="10" cols="50" name='user_phrase'></textarea></p>
      <p><input type="submit" name="Submit"></p>
    </form>

  
  </body>
</html>
