<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>

  <body>

    <h1>Pig Latinize</h1>

    <form method="get" action= "/">
      <p>Input the word you want converted into Pig Latin here</p>
      <textarea name="user_text"></textarea>
      <br>

      <input type="text">
      <input type="submit">

      <button type= "submit" value= "submit">Submit</button>
    </form>

  </body>
</html>
