<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title> <!-- shows up in tab, not on page -->
  </head>
  <body>

    <form method="post" action="/piglatinize">
      <p>Enter your phrase:</p>
      <textarea name="user_phrase"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>


  </body>
</html>
