<!DOCTYPE html>
<html>
  <head>
    
    <title>Pig Latin!</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form method="POST" action="/piglatinize">
      <label for id="phrase">Enter your phrase:</label>
        <input type="text" name="user_phrase" id="phrase">
        <input type="submit" >
    </form>
  
  </body>
</html>

