<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/" method="post" class="form">
      <br>
      <label for="word">Enter your phrase:</label>
      <br>
      <input type="text" name="word" class="word">
      <br>
      <input type="submit" class="btn" value="Show Me My Anagram!">
    </form>

<!--     <form>
      Enter your phrase:<br>
      <input type="text" name="user_phrase" class="word">
      <br><br>
      <input type="submit" class="btn" value="Submit">
    </form>
 -->  </body>
</html>