<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form action="/piglatinize" method="POST">
      <p><label for="user_phrase">Enter your phrase:
      <textarea name="user_phrase" cols="20" rows="10"></textarea>
      </label></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>