<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
   <form method="POST" action="/piglatinize">
         <label>Enter your phrase:</label><br/>
         <label>input field<input type="text" name="user_phrase"/></label><br/>
         <input type="submit" id="Submit" />
      </form>


  </body>
</html>