<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/piglatinize" method="post">
      <label for="user_input"><p>Enter your phrase:</p><input type="text" name="user_phrase" id="user_input"></label>
      <input type="submit" name="Submit" value="submit">
    </form>

  </body>
</html>
