<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/piglatinize" method="POST">
      <label for="user_phrase">Enter your phrase:</label>
      <br>
      <textarea name="user_phrase" id="user_phrase" cols="30" rows="10"></textarea>
      <br>
      <input type="submit" name="Submit">
    </form>
  </body>
</html>