<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize">
      <h3>Enter your phrase: <input name="user_phrase" type="text"></h3>
      <input value="Submit" type="submit">
    </form>
  </body>
</html>