<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize">
      <p>Enter your phrase:</p>
      <textarea rows="4" cols="50" type="text" name="user_phrase" id="user_phrase">
      </textarea>
      <input type="submit" value="Submit">
    </form>
  
  </body>
</html>