<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <form action="/piglatinize" method="post">
      <label>Enter your prhase: <input type="text" name="user_phrase" id="user_phrase"></label>
      <label type="submit">
    </form>

  </body>
</html>
