<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="POST" action="piglatinizer">
      <h2> Enter your phrase: <input type="text" id="user_phrase"> </h2>
    </form>

  </body>
</html>
