<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="post" action="/piglatinize">
      <p>Enter your phrase:<input name="user_phrase" type="text"</p>
      <input type="submit" value="submit">Submit</input>
    </form>
  </body>
</html>