<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Welcome to Pig Latinizer!</h1>
    <form action="/piglatinize" method="POST">
      <p>Enter your phrase:</p>
      <textarea name="user_phrase" rows="8" cols="80"></textarea>
      <button type="submit" name="submit">Submit</button>
    </form>
  </body>
</html>
