<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Enter your phrase:</h2>
    
  <form method="POST" action="/piglatinize">
  <p> Your phrase: <input type="text" name="string">user_phrase</p>
  <input type="submit" id="Submit">
  </form>

  </body>
</html>