<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Better Title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
      <form method="post" action="/piglatinize">
        <p>Enter your phrase:</p>
        <p><textarea name="user_phrase"></textarea></p>
        <br>
        <button type="submit" value="Submit">Submit</button>
      </form>
  </body>
</html>