<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
      <form post="get" action="/">
        <p>Enter your phrase:</p>
        <br>
        <button type="submit" value="submit">Subtmit</button>
      </form>
  </body>
</html>
