<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <p>Enter your phrase:</p>
    <p>user_phrase</p>

    <form method="POST" action="/result">
      <input type="textarea" name="user_phrase">
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
