<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

    <h1>Pig Latinizer!</h1>

     <form method="POST" action="/piglatinize">
       <p>Enter your phrase:</p>
         <p><input type="text" name="user_phrase" style="width:400px; height:100px;"></p>
           <input type = "submit" name="submit">
    </form>

  </body>
</html>
