<form method="POST" action="/piglatinize">
  <label for="user_input">Enter your phrase:</label><br>
  <input type="text" name="user_phrase">
  <input id="submit" type="submit" name="Translate!">
</form>
