<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form method="post" action="/">
      <p>Enter your phrase: that you want PigLatinized here:</p>
      <textarea name="user_phrase"></textarea>
      <br>
      <button type="submit" value="Submit">Submit</button>
    </form>

  </body>
</html>
