<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method='POST' action='/piglatinize'>
      <label for="phrase">Enter your phrase: </p>
      <input type="text" name="user_phrase" id="phrase">
      <input type="submit" name="submit">
    </form>
    <p>Pig Latinizer!</p>
  </body>
</html>
