<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form action="/piglatinresult" method="post">
      <p> Add a phase</p>
      <textarea name="text"></textarea><br>
      <button type="submit" value="submit">Send</button>
    </form>
  </body>
</html>
