<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1> Your "Hazer" Latin Phrase:<h1>
    <h2> <%= @hazer_phrase %> </h2>
  </body>
</html>
